[submodule "project-1-Johan-Ravn"]
	path = project-1-Johan-Ravn
	url = https://github.com/AAU-IMPR/project-1-Johan-Ravn.git
[submodule "handin-1-Johan-Ravn"]
	path = handin-1-Johan-Ravn
	url = https://github.com/AAU-IMPR/handin-1-Johan-Ravn.git
[submodule "handin-3-Johan-Ravn"]
	path = handin-3-Johan-Ravn
	url = https://github.com/AAU-IMPR/handin-3-Johan-Ravn.git
[submodule "lecture-3-Johan-Ravn"]
	path = lecture-3-Johan-Ravn
	url = https://github.com/AAU-IMPR/lecture-3-Johan-Ravn.git
[submodule "lecture-1-Johan-Ravn"]
	path = lecture-1-Johan-Ravn
	url = https://github.com/AAU-IMPR/lecture-1-Johan-Ravn.git
[submodule "lecture-2-Johan-Ravn"]
	path = lecture-2-Johan-Ravn
	url = https://github.com/AAU-IMPR/lecture-2-Johan-Ravn.git
[submodule "lecture-4-Johan-Ravn"]
	path = lecture-4-Johan-Ravn
	url = https://github.com/AAU-IMPR/lecture-4-Johan-Ravn.git
[submodule "lecture-5-Johan-Ravn"]
	path = lecture-5-Johan-Ravn
	url = https://github.com/AAU-IMPR/lecture-5-Johan-Ravn.git
[submodule "lecture-6-Johan-Ravn"]
	path = lecture-6-Johan-Ravn
	url = https://github.com/AAU-IMPR/lecture-6-Johan-Ravn.git
[submodule "lecture-7-Johan-Ravn"]
	path = lecture-7-Johan-Ravn
	url = https://github.com/AAU-IMPR/lecture-7-Johan-Ravn.git
[submodule "lecture-8-Johan-Ravn"]
	path = lecture-8-Johan-Ravn
	url = https://github.com/AAU-IMPR/lecture-8-Johan-Ravn.git
[submodule "handin-2-Johan-Ravn"]
	path = handin-2-Johan-Ravn
	url = https://github.com/AAU-IMPR/handin-2-Johan-Ravn.git
[submodule "lecture-9-Johan-Ravn"]
	path = lecture-9-Johan-Ravn
	url = https://github.com/AAU-IMPR/lecture-9-Johan-Ravn.git
[submodule "handin-4-Johan-Ravn"]
	path = handin-4-Johan-Ravn
	url = https://github.com/AAU-IMPR/handin-4-Johan-Ravn.git
[submodule "lecture-10-Johan-Ravn"]
	path = lecture-10-Johan-Ravn
	url = https://github.com/AAU-IMPR/lecture-10-Johan-Ravn.git
[submodule "lecture-11-Johan-Ravn"]
	path = lecture-11-Johan-Ravn
	url = https://github.com/AAU-IMPR/lecture-11-Johan-Ravn.git
[submodule "handin-5-Johan-Ravn"]
	path = handin-5-Johan-Ravn
	url = https://github.com/AAU-IMPR/handin-5-Johan-Ravn.git
[submodule "project-2-Johan-Ravn"]
	path = project-2-Johan-Ravn
	url = https://github.com/AAU-IMPR/project-2-Johan-Ravn.git
[submodule "project-3-Johan-Ravn"]
	path = project-3-Johan-Ravn
	url = https://github.com/AAU-IMPR/project-3-Johan-Ravn.git
[submodule "lecture-12-Johan-Ravn"]
	path = lecture-12-Johan-Ravn
	url = https://github.com/AAU-IMPR/lecture-12-Johan-Ravn.git
